<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Clima de Ecuador! :U</h1>
    <h2> Quito </h2>
    <div class="pure-form">
        <fieldset>
            <input class="button blue" type="button" name="btnlocation", value="Obtener">
        </fieldset>
    </div>
    <h2>Ecuador</h2>
</body>
</html>